<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Theme Designer</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="index.css">
  <script src="../../vendor.bundle.js"></script>
  <script src="index.js"></script>
</head>

<body>
  <h1>Theme Designer</h1>
  <form>
    <label>Primary accent color: </label><input type="text" id="--primary-accent-color"> <br/>
    <label>Secondary accent color: </label><input type="text" id="--secondary-accent-color"> <br/>
    <label>Tertiary accent color: </label><input type="text" id="--tertiary-accent-color"> <br/>

    <label>Primary negative color: </label><input type="text" id="--primary-negative-color"> <br/>
    <label>Secondary negative color: </label><input type="text" id="--secondary-negative-color"> <br/>
    <label>Tertiary negative color: </label><input type="text" id="--tertiary-negative-color"> <br/>

    <label>Primary background color: </label><input type="text" id="--primary-background-color"> <br/>
    <label>Secondary background color: </label><input type="text" id="--secondary-background-color"> <br/>
    <label>Tertiary background color: </label><input type="text" id="--tertiary-background-color"> <br/>

    <label>Scrollbar color: </label><input type="text" id="--scrollbar-color"> <br/>
    
    <input type="button" value="Apply" id="apply">
  </form>
</body>

</html>