<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>defaultAuthentication</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="defaultAuthentication.css?{cachebuster}">
  <script src="defaultAuthentication.js?{cachebuster}"></script>
</head>

<body>
  <img src="https://cdn2.scratch.mit.edu/get_image/user/6663458_60x60.png" alt="loading..."/>
</body>

</html>